* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.landing_page {
  height: 91vh;
  background: url(./Assets/Landing/Landingbg1.jpg) repeat repeat;
  background-size: cover;
}



/* https://stock.adobe.com/in/images/id/59862289?clickref=1100lyks9j7J&mv=affiliate&mv2=Freepik&as_camptype=&as_channel=affiliate&as_source=partnerize&as_campaign=Freepik&as_content=api&as_audience=idp&sdid=6WTV6YJ5 */